{% extends "base.html" %}

{% block content %}
   <div class="title-header">  <h1 class="title">Feedbacks</h1></div>
     

    <div>
         {% if session.get('role') == 'student' %}
        <div>
            <a class="button button-create" href="manage?pkval=new">Create new</a>
        </div>
  {% endif %}
        <table class="data-table">
            <thead>
                <tr> 
                     {% if session.get('role') == 'student' or session.get("role") == 'alumni' %}
                        <th>Edit</th>{%endif%}
                       {% if session.get('role') == 'admin' %}
                          <th>Approve</th>
                          {%endif%}
                    <th>Feedback Text</th>
                    <th>Course Name</th>
                    <th>Date Given</th>
                    <th>Status</th> 
                </tr>
            </thead>
            <tbody>
                {% for feedback in obj.data %}
                <tr>

                    {% if feedback.status == 'pending' and session.get('role') != 'instructor' %} 
                        <td>
                            {% if session.get('role') == 'student' or session.get("role") == 'alumni'%}
                            <a class="button button-edit" href="manage?pkval={{ feedback.feedbackID }}">
                                Edit
                            </a> {%endif%}
                             {% if session.get('role') == 'admin' %}
                            <a class="button button-edit" href="manage?action=update&pkval={{ feedback.feedbackID }}">
                                Approve
                            </a>
                            {% endif %}
                        </td>
                    {% endif %}
                    
                    <td>{{ feedback.feedbackText }}</td>
                    <td>{{ feedback.courseName }}</td>  
                    <td>{{ feedback.dateGiven }}</td>
                    <td>{{ feedback.status }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
