{% extends "base.html" %}

{% block content %}
   <div class="title-header">  <h1 class="title">Feedbacks</h1></div>
     

    <div>
         {% if session.get('role') == 'student' %}
        <div>
            <a class="button button-create" href="manage?create=new">Create new</a>
        </div>
  {% endif %}
        <table class="data-table">
            <thead>
                <tr> 
                     {% if session.get('role') == 'student' or session.get("role") == 'alumni' %}
                        <th>Edit</th>{%endif%}
                       {% if session.get('role') == 'admin' %}
                          <th>Approve</th>
                           <th>Disapprove</th>
                          {%endif%}
                    <th>Feedback Text</th>
                    <th>Course Name</th>
                    <th>Date Given</th>
                    <th>Status</th> 
                </tr>
            </thead>
            <tbody>
                {% for feedback in obj.data %}
                <tr>

                    {% if feedback.status == 'pending' and session.get('role') != 'instructor' %} 
                        <td>
                            {% if session.get('role') == 'student' or session.get("role") == 'alumni'%}
                            <form action="manage" method="POST" style="display:inline;">
                            <input type="hidden" name="pkval" value="{{ feedback.feedbackID }}">
                            <button type="submit" class="button button-edit">
                                Edit
                            </button>
                            </form>

                            {%endif%}
                             {% if session.get('role') == 'admin' %}
                            <form action="manage" method="POST" >
                            <input type="hidden" name="pkval" value="{{ feedback.feedbackID }}">
                            <button type="submit" class="button button-edit">
                                Approve
                            </button>
                            </form>

                            {% endif %}
                        </td>

                        {% else%}
                        <td></td>
                    {% endif %}
                    {% if feedback.status == 'pending' and session.get('role') == 'admin' %} 
                        
             
                             <td>  
                            <form action="manage?action=delete" method="POST" >
                            <input type="hidden" name="pkval" value="{{ feedback.feedbackID }}">
                            <button type="submit" class="button button-edit">
                                Delete/ Disapprove
                            </button>
                            </form>
                            </td> 
                      
                    {% endif %}
                    <td>{{ feedback.feedbackText }}</td>
                    <td>{{ feedback.courseName }}</td>  
                    <td>{{ feedback.dateGiven }}</td>
                    <td>{{ feedback.status }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
