{% extends "base.html" %}

{% block content %}
    <div class="error_text title-header">
        {% if obj.errors | length > 0 %}
            {% for error in obj.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div> 
       <form action="manage?action=update" method="POST"> 
                <input type="hidden" name="pkval" value="{{ obj.data[0][obj.pk] }}" />

  <div class="form-group">
    <label for="feedbackText">Feedback Text</label>
    <textarea
      id="feedbackText"
      name="feedbackText"
      rows="5"
    >{{ obj.data[0].feedbackText }}</textarea>
    <small id="feedbackHelp" class="help-text">
    Feedback must be between 100 to 300 characters.
  </small>
  </div>

  <div class="form-group">
    <label for="courseID">Course</label>
    <select id="courseID" name="courseID">
      {% for course_id, course_name in obj.data[0].courses.items() %}
        {% if obj.data[0].courseID == course_id %}
          <option selected="true" value="{{ course_id }}">{{ course_name }}</option>
        {% else %}
          <option value="{{ course_id }}">{{ course_name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <input type="submit" value="Submit" />
  </div> 
</form>
<form action="manage?action=delete" method="POST">
  <div class="form-group"> 
  <input type="hidden" name="pkval" value="{{ obj.data[0][obj.pk] }}">
  <button type="submit" class="button button-delete">
    Delete this Feedback
  </button>
  </div>
</form> 
 
       
    </div>
{% endblock %}
