<html>
    <head>
      {% if title %}
      <title>{{ title }} - Home</title>
      {% else %}
      <title>Welcome to Course feedback giving app</title>
      {% endif %}
	   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
       <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>
    <body>
       <header id="masthead" class="site-header" role="banner">
				<div class="header-inner">
					<a href="https://intranet.clarkson.edu/" class="custom-logo-link" rel="home" data-wpel-link="internal">
                        <img width="200" height="200" src="{{ url_for('static', filename='img/cropped-logo.png') }}" class="custom-logo" alt="Clarkson University"  
                    sizes="(max-width: 9999px) 100vw, 9999px">
                    </a>	
                    {% if session.get("user_id") %}
        <nav class="main-nav">
  <ul class="nav-list"> 
    {% if session.get("role") is not none %}
    
 
    <li class="dropdown">
      <button class="dropbtn">Courses &#9662;</button>
      <div class="dropdown-content">
        <a href="/courses/list_courses">All Courses</a>
        <a href="/courses/suggest_course">Suggest new course</a>
      </div>
    </li>
  {% endif %}
  <li class="dropdown">
      <button class="dropbtn">Feedback &#9662;</button>
      <div class="dropdown-content">
       {% if session.get("role") == 'student' or session.get("role") == 'alumni' %}
  
        <a href="/feedbacks/manage?pkval=new">Give Feedback</a>

        <a href="/feedbacks/list_feedback">My Feedback</a>
          {% endif %}
        {% if session.get("role") == 'admin'%}
          <a href="/feedbacks/list_feedback">Approve Feedback</a>
           {% endif %}
      </div>
    </li>

    {% if session.get("role") == 'admin' %} 
    <li class="dropdown">
      <button class="dropbtn">Users &#9662;</button>
      <div class="dropdown-content">
        <a href="/users/manage?pkval=new">Add User</a>
      </div>
      <div class="dropdown-content">
        <a href="/users/manage">List User</a>
      </div>
      
    </li>
    {% endif %}
{% if session.get("role") is not none %}
   <li class="dropdown">
      <button class="dropbtn">Welcome {{ session.get("user")['name'] }} &#9662;</button>
      <div class="dropdown-content">
        <a href="/users/manage?pkval={{ session.get("user_id") }}">Change password</a>
        <a href="/logout">Logout</a>
      </div>
    </li>
    {% endif %}
  </ul>
</nav>

        {% endif %}
	
				</div>
		</header>
        <div class="container">  
        {% block content %}{% endblock %}
         </div>
    </body>
</html>