{% extends "base.html" %}

{% block content %}
 <div class="title-header"><h1 class="title">Courses</h1>
    </div>    

	            <div>
                
  {% if session.get("role") == 'admin' or session.get("role") == 'instructor' %} 
                <div> <a class="button button-create" href="manage?pkval=new">Create new</a> </div>
{%endif%}
                <table class="data-table">
                    <thead>
                        <tr>
                            {% if session.get("role") == 'admin' %} 
                            <th >Edit</th>
                            {% endif %}
                            <th>Course Name</th>
                            <th>Description</th>
                             <th>Department Name</th>
                              <th>Semestered Offered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in obj.data  %}
                        <tr>
                             {% if session.get("role") == 'admin' %} 
                             <td><a class="button button-edit" href="manage?pkval={{ obj.courseID }}">Edit</a></td>
                            {% endif %}
                             <td>{{ obj.courseName }}</td>
                            <td>{{ obj.description }}</td>
                             <td>{{ obj.departmentName }}</td>
                              <td>{{ obj.semesterOffered }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
               
            </div>
	
	
	
{% endblock %}