{% extends "base.html" %}

{% block content %}
<div class="title-header"> 
    <h1 class="title">Users</h1>
    </div> 

	            <div>
                

                <div> <a class="button button-create" href="manage?pkval=new">Create new</a> </div>

                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in obj.data  %}
                        <tr>
                            <td><a class="button button-edit" href="manage?pkval={{ obj.uuid }}">Edit</a></td>
                            <td>{{ obj.email }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
               
            </div>
	
	
	
{% endblock %}