{% extends "base.html" %}

{% block content %}
<div class="title-header"> 
    <h1 class="title">Users</h1>
    </div> 

	            <div>
                

                <div> <a class="button button-create" href="manage?create=new">Create new</a> </div>

                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in obj.data  %}
                        <tr>
                            <td>
                                
                            
                    <form action="manage" method="POST" >
  <input type="hidden" name="pkval" value="{{  obj.uuid }}">
  <button type="submit" class="button button-edit">
    Edit
  </button>
</form>        
                            </td>
                            <td>{{ obj.email }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
               
            </div>
	
	
	
{% endblock %}